<div class="col-sm-12">
  <h3>NoteComponent:</h3><span> {{( note$ | async) | json}}</span>
</div>
<div *ngIf="( note$ | async) as noteModel" class="col-sm-12">
  <div class="card bg-warning postit-card">
    <div class="card-header">
      <div *ngIf="!noteModel.EditMode" class="lbl-text-postit">
        {{ noteModel.Title }}
      </div>
      <textarea class="form-control p-1 input-text-postit" *ngIf="noteModel.EditMode"
        [(ngModel)]="editedTitle"></textarea>
    </div>
    <div class="card-body">
      <div *ngIf="!noteModel.EditMode" class="lbl-text-postit">
        {{ noteModel.Description }}
      </div>
      <textarea class="form-control p-1 input-text-postit" *ngIf="noteModel.EditMode"
        [(ngModel)]="editedDescription"></textarea>
    </div>
    <div class="card-footer">
      <div *ngIf="!noteModel.IsNew" class="text-muted postit-created-date">
        <small>Created {{ noteModel.Date | date: short }}</small>
      </div>
      <div>
        <span *ngIf="noteModel.EditMode" class="btn-save-postit btn btn-primary btn-sm mr-1"
          (click)="saveNote(noteModel)">Save</span>

        <span *ngIf="noteModel.EditMode" class="btn-cancel-postit btn btn-primary btn-sm mr-1"
          (click)="cancelNote(noteModel)">Cancel</span>

        <span *ngIf="!noteModel.IsNew && !boardModel.EditMode" class="btn-delete-postit btn btn-danger btn-sm mr-1"
          (click)="deleteNote(noteModel)">Delete</span>
      </div>
    </div>
  </div>
</div>